.galeria {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 432px;
}

.galeria:hover {
    border: 1px solid #777;
}

.galeria >a >img {
    width: 100%;
    height: 300px;
}

.descripcion {
    padding: 15px;
    text-align: center;
}

